<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container w-50">
    <div class="d-flex flex-column">
    <form method="POST" action="/account_balance_operations.html">
        <div class="mb-3">
        <label class="form-label" for="substract_amount">Substract amount:</label><br>
        <input class="form-control" type="number" id="substract_amount" name="substract_amount" required><br>
        <button class="btn btn-primary" type="submit">Substract</button>
        </div>
    </form>
    </div>
    </div>
</body>
</html>